:root{
--paleBlue: hsl(243, 100%, 93%);
--grayishBlue: hsl(229, 7%, 55%);
--darkBlue: hsl(228, 56%, 26%);
--veryDarkBlue: hsl(229, 57%, 11%);
}

body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.disk-usage{
    height: 90vh;
    margin: auto auto;
}

.disk-usage-content{
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 3rem;
}

.disk-usage-description{
    background-color: var(--darkBlue);
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 70px;
}
.disk-usage-description .icons{
    margin-top: 30px;
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-right: 10px;
}

.disk-usage-description .icons .icon{
    background-color: var(--veryDarkBlue);
    width: 24px;
    height: 24px;
    padding: 9px;

}

.disk-usage-bar{
    background-color: var(--darkBlue);
    width: 100%;
    margin-top: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
    text-align: center;
}

.explaination{
    padding-top: 1rem;
    color: var(--paleBlue);
    font-size: 0.9rem;
}

.explaination .size{
    color: white;
    font-weight: bold;
}

.disk-usage-bar .load-charge{
    display: block;
    background-color: var(--veryDarkBlue);
    width: 80%;
    margin: 0 auto;
    height: 17px;
    border-radius: 100px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
}

.disk-usage-bar .load-charge .charge-bar{
    width: 75%;
    height: 12px;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    margin-top: 2px;
    border-radius: 100px;
}

